In [36]:
# Import Dependencies
import pandas as pd

In [37]:
# Reference the file where the CSV is located
df = pd.read_csv('Resources/crime_incident_data2017.csv')
# Import the data into a Pandas DataFrame
df.head(100)

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
0,NaN,17-X4762181,Person,NaN,1,1/1/96,1/1/96,800,Sex Offenses,1,Rape,NaN,NaN,NaN,NaN,1/26/17,1/1/17
1,NaN,17-X4757824,Property,Centennial,1,1/20/00,1/1/00,1615,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/20/17,1/1/17
2,200 BLOCK OF SE 78TH AVE,17-900367,Property,Montavilla,1,12/1/03,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.5207,-122.583,7668150.0,682825.0,1/9/17,1/1/17
3,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Fraud Offenses,1,Identity Theft,NaN,NaN,NaN,NaN,1/5/17,1/1/17
4,NaN,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Larceny Offenses,1,All Other Larceny,NaN,NaN,NaN,NaN,1/5/17,1/1/17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1100 BLOCK OF SW 2ND AVE,17-5712,Property,Downtown,1,10/20/16,10/1/16,1200,Robbery,1,Robbery,45.5150,-122.676,7644326.0,681371.0,1/6/17,1/1/17
96,1800 BLOCK OF N TOMAHAWK ISLAND DR,17-5919,Property,Hayden Island,1,10/28/16,10/1/16,1240,Larceny Offenses,1,Shoplifting,45.6134,-122.686,7642920.0,717295.0,1/6/17,1/1/17
97,10100 BLOCK OF SE WASHINGTON ST,17-16973,Property,Hazelwood,1,10/6/16,10/1/16,800,Larceny Offenses,1,Shoplifting,45.5183,-122.559,7674423.0,681781.0,1/18/17,1/1/17
98,2900 BLOCK OF SE 92ND AVE,17-900828,Property,Powellhurst-Gilbert,1,10/29/16,10/1/16,2335,Fraud Offenses,1,Identity Theft,45.5008,-122.568,7671837.0,675453.0,1/21/17,1/1/17
99,2800 BLOCK OF NW SANTANITA TER,17-900866,Property,Hillside,1,10/10/16,10/1/16,300,Larceny Offenses,1,Theft From Motor Vehicle,45.5241,-122.709,7635937.0,684906.0,1/22/17,1/1/17

In [38]:
# look for missing values
df.count()

Address              37365
Case Number          41032
Crime Against        41032
Neighborhood         39712
Number of Records    41032
Occur Date           41032
Occur Month Year     41032
Occur Time           41032
Offense Category     41032
Offense Count        41032
Offense Type         41032
Open Data Lat        36712
Open Data Lon        36712
Open Data X          36712
Open Data Y          36712
Report Date          41032
Report Month Year    41032
dtype: int64

In [39]:
# drop null rows
df = df.dropna(how='any')

In [40]:
# verify counts
df.count()

Address              36146
Case Number          36146
Crime Against        36146
Neighborhood         36146
Number of Records    36146
Occur Date           36146
Occur Month Year     36146
Occur Time           36146
Offense Category     36146
Offense Count        36146
Offense Type         36146
Open Data Lat        36146
Open Data Lon        36146
Open Data X          36146
Open Data Y          36146
Report Date          36146
Report Month Year    36146
dtype: int64

In [41]:
# Check to see if there are any values with mispelled or similar values in "Offense Type"
df['Offense Type'].value_counts()

Theft From Motor Vehicle                       6947
Motor Vehicle Theft                            4689
All Other Larceny                              4558
Vandalism                                      3863
Burglary                                       2824
Shoplifting                                    2259
Identity Theft                                 1794
Simple Assault                                 1216
Drug/Narcotic Violations                       1095
Theft of Motor Vehicle Parts or Accessories    1073
Intimidation                                    900
Theft From Building                             895
False Pretenses/Swindle/Confidence Game         870
Aggravated Assault                              839
Robbery                                         608
Counterfeiting/Forgery                          448
Weapons Law Violations                          266
Credit Card/ATM Fraud                           226
Arson                                           200
Prostitution                                    145
Pocket-Picking                                   94
Purse-Snatching                                  89
Embezzlement                                     73
Stolen Property Offenses                         57
Kidnapping/Abduction                             22
Theft From Coin-Operated Machine or Device       20
Hacking/Computer Invasion                        19
Animal Cruelty                                   17
Pornography/Obscene Material                     10
Extortion/Blackmail                               8
Assisting or Promoting Prostitution               7
Drug Equipment Violations                         6
Impersonation                                     4
Wire Fraud                                        3
Welfare Fraud                                     1
Commercial Sex Acts                               1
Name: Offense Type, dtype: int64

In [42]:
# Combine similar offenses
df['Offense Type'] = df['Offense Type'].replace(['Shoplifting','Animal Cruelty'],['Burglary','Commercial Sex Acts'])

In [43]:
# Check to see if you comnbined similar offenses correctly in "Offense Type".
df['Offense Type'].value_counts()

Theft From Motor Vehicle                       6947
Burglary                                       5083
Motor Vehicle Theft                            4689
All Other Larceny                              4558
Vandalism                                      3863
Identity Theft                                 1794
Simple Assault                                 1216
Drug/Narcotic Violations                       1095
Theft of Motor Vehicle Parts or Accessories    1073
Intimidation                                    900
Theft From Building                             895
False Pretenses/Swindle/Confidence Game         870
Aggravated Assault                              839
Robbery                                         608
Counterfeiting/Forgery                          448
Weapons Law Violations                          266
Credit Card/ATM Fraud                           226
Arson                                           200
Prostitution                                    145
Pocket-Picking                                   94
Purse-Snatching                                  89
Embezzlement                                     73
Stolen Property Offenses                         57
Kidnapping/Abduction                             22
Theft From Coin-Operated Machine or Device       20
Hacking/Computer Invasion                        19
Commercial Sex Acts                              18
Pornography/Obscene Material                     10
Extortion/Blackmail                               8
Assisting or Promoting Prostitution               7
Drug Equipment Violations                         6
Impersonation                                     4
Wire Fraud                                        3
Welfare Fraud                                     1
Name: Offense Type, dtype: int64

In [47]:
# Create a new DataFrame that looks into a specific neighborhood
df2 = df[df['Neighborhood'].str.contains('Downtown')]
df2.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
32,500 BLOCK OF SW OAK ST,17-900051,Property,Downtown,1,1/31/16,1/1/16,2300,Larceny Offenses,1,Theft From Motor Vehicle,45.5217,-122.677,7644291.0,683795.0,1/2/17,1/1/17
33,1300 BLOCK OF SW WASHINGTON ST,17-4490,Property,Downtown,1,1/3/16,1/1/16,1900,Motor Vehicle Theft,1,Motor Vehicle Theft,45.5223,-122.685,7642167.0,684106.0,1/5/17,1/1/17
63,1100 BLOCK OF SW 2ND AVE,17-27849,Property,Downtown,1,6/1/16,6/1/16,1,Fraud Offenses,1,Identity Theft,45.5150,-122.676,7644326.0,681371.0,1/28/17,1/1/17
86,1000 BLOCK OF SW JEFFERSON ST,17-900855,Property,Downtown,1,9/28/16,9/1/16,2000,Larceny Offenses,1,All Other Larceny,45.5161,-122.685,7642141.0,681831.0,1/22/17,1/1/17
95,1100 BLOCK OF SW 2ND AVE,17-5712,Property,Downtown,1,10/20/16,10/1/16,1200,Robbery,1,Robbery,45.5150,-122.676,7644326.0,681371.0,1/6/17,1/1/17